@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
  display: flex;
  justify-content:center;
  flex-direction: columns;
  align-items: center;
  background-color: rgba(248, 248, 248, 0.176);
  font-family: 'Roboto', sans-serif;
  color: #ffc800;
}
form {
  margin-top: 20px;
  background-color: rgb(74, 74, 74);
  padding: 40px 60px;
  border-radius: 10px;
  min-width: 300px;
}
form h1{
  color: #ffc800;
  text-align:center;
  flex-wrap: wrap;
  justify-content: center;
}
form .social-media{
  margin-top: -10px;
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
}
form .social-media p{
  padding: 5px;
  width: 20px;
  margin-left: 10px;
  border-radius: 100%;
  border: 1px solid #ffffff;
  text-align: center;
  cursor:pointer;
  color: #f7f7f7;
}
form p.choose-email{
  text-align:center;
}
form .inputs {
  display: flex;
  flex-direction: column;
}
form .inputs input[type='email'], input[type='password'], input[type='pays'], input[type='nom'], input[type='prenom'], input[type='telephone'], input[type='entreprise']{
  padding: 15px;
  border:none;
  border-radius: 5px;
  background-color:#f2f2f2;
  outline:none;
  margin-bottom: 15px;
}
form p.inscription{
  font-size: 14px;
  margin-bottom: 20px;
  color: #878787;
  text-align: center;
}
form p.inscription span{
  color: #ffc800;
  cursor: pointer;
}
form button{
  padding: 15px 25px;
  border-radius: 5px;
  border:none;
  font-size: 15px;
  color: #fff;
  background-color: #ffc800;
  outline:none;
  cursor:pointer;
}

