<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Formulaire de connexion</title>
  <link rel="stylesheet" href="../static/styles/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
</head>
<body>
  <form action="/index" method="post" autocomplete="off"> 
     
    <h1>Se connecter</h1>
    <div class="social-media">
      <p><i class="fab fa-google"></i></p>
      <p><i class="fab fa-facebook-f"></i></p>
      <p><i class="fab fa-twitter"></i></p>
    </div>
    <p class="choose-email">Ou utiliser mon adresse e-mail :</p>
    
    <div class="inputs">
      <input type="email" id="email" placeholder="Email" name="email"/>
      <input type="password" id="password" placeholder="Mot de passe" autocomplete="on" name="password">
    </div>
    
    <p class="inscription">Je n'ai pas de compte. <a class="worddark" href="{{url_for('init_routes.inscription')}}"><span>Je m'en crée un</span></a></p>

    <div align="center">
      <button type="submit">Se connecter</button>
    </div>
     
  </form> 
</body>
</html>