<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire d'inscription</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
</head>

<body>
  <form action="/inscription" method="post">
        <div align="center">
           <a href="{{url_for('init_routes.index')}}">Revenir à la page de connexion</a>
        </div>
     
        <h1>Formulaire d'inscription</h1>
        <p class="choose-email">Pour accéder au site, veuillez remplir le formulaire ci dessous : </p>

        <div class="inputs">
          <input type="prenom" name="prenom" id="prenom" placeholder="Votre prénom*">
          <input type="nom" name="nom" id="nom" placeholder="Votre nom*">
          <input type="email" name="email" id="email" placeholder="Email*">
          <input type="password" name="password" id="password" placeholder="Mot de passe*" autocomplete="on">
          <input type="password" name="confpassword" id="confpassword" placeholder="Confirmez votre mot de passe*" autocomplete="on">
        </div>
        <p class="champs">* : champs obligatoire </p>


        <div align="center">
          <button type="submit" id="bouton">Je crée mon compte</button>
        </div>
  </form>
</body>
</html>